/* Navigation Bar */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.logo {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    transition: 0.3s ease;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    border-bottom: 2px solid #ff6b6b;
}

.btn-contact {
    background: #ff6b6b;
    color: white;
    padding: 10px 17px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 40px;
}

